@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@using Trsys.Models
@using System.Linq
@model Trsys.Web.ViewModels.Admin.ConfigurationViewModel

@{
    ViewBag.Title = "設定";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger mb-4">
        @Model.ErrorMessage
    </div>
}
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success mb-4">
        @Model.SuccessMessage
    </div>
}

<form method="post">
    <h1 class="h2 mb-3 font-weight-bold">@ViewBag.Title</h1>

    <div class="mb-4">
        <h2>メール設定</h2>
        <div class="mb-2">
            <label>メール送信元</label>
            <input class="form-control" type="text" name="EmailConfiguration.MailFrom" value="@Model.EmailConfiguration.MailFrom" />
        </div>
        <section>
            <h3>SMTP</h3>
            <div class="mb-2">
                <label>ホスト名</label>
                <input class="form-control" type="text" name="EmailConfiguration.Smtp.Host" value="@Model.EmailConfiguration.Smtp?.Host" />
            </div>
            <div class="mb-2">
                <label>ポート</label>
                <input class="form-control" type="text" name="EmailConfiguration.Smtp.Port" value="@Model.EmailConfiguration.Smtp?.Port" />
            </div>
            <div class="mb-2">
                <label>SSL</label>
                @if (Model.EmailConfiguration.Smtp?.UseSsl ?? false)
                {
                    <input class="form-check" type="checkbox" name="EmailConfiguration.Smtp.UseSsl" value="true" checked />
                }
                else
                {
                    <input class="form-check" type="checkbox" name="EmailConfiguration.Smtp.UseSsl" value="true" />
                }
            </div>
            <div class="mb-2">
                <label>ユーザー名</label>
                <input class="form-control" type="text" name="EmailConfiguration.Smtp.AuthenticationUser" value="@Model.EmailConfiguration.Smtp?.AuthenticationUser" />
            </div>
            <div class="mb-2">
                <label>パスワード</label>
                <input class="form-control" type="password" name="EmailConfiguration.Smtp.AuthenticationPassword" value="@Model.EmailConfiguration.Smtp?.AuthenticationPassword" />
            </div>
        </section>
        <section>
            <h3>Microsoft Graph</h3>
            <div class="mb-2">
                <label>テナントID</label>
                <input class="form-control" type="text" name="EmailConfiguration.Graph.TenantId" value="@Model.EmailConfiguration.Graph?.TenantId" />
            </div>
            <div class="mb-2">
                <label>クライアントID</label>
                <input class="form-control" type="text" name="EmailConfiguration.Graph.ClientId" value="@Model.EmailConfiguration.Graph?.ClientId" />
            </div>
            <div class="mb-2">
                <label>ClientSecret</label>
                <input class="form-control" type="text" name="EmailConfiguration.Graph.ClientSecret" value="@Model.EmailConfiguration.Graph?.ClientSecret" />
            </div>
        </section>


        <div class="mt-2 mt-lg-0">
            <button formaction="/admin/configuration" class="btn btn-outline-secondary btn-block text-nowrap">登録</button>
        </div>
    </div>
</form>
