@using Trsys.Web.Models
@using System.Linq
@model Trsys.Web.ViewModels.Admin.IndexViewModel

@{
    ViewBag.Title = "シークレットキー一覧";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger mb-4">
        @Model.ErrorMessage
    </div>
}
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success mb-4">
        @Model.SuccessMessage
    </div>
}

<div class="float-right">
    <a href="@Url.Action("Index", "Events")">イベント</a>
</div>
<form method="post" action="/admin/keys/new">
    @if (!string.IsNullOrEmpty(Model.CacheOrderText))
    {
        <h1 class="mb-3">注文キャッシュ</h1>
        <div class="mb-4">
            <p>@Model.CacheOrderText</p>
            <button formaction="/admin/orders/clear">クリア</button>
        </div>
    }

    <h1 class="mb-3">シークレットキー一覧</h1>

    <div class="mb-4 d-flex align-items-end">
        <div class="pr-2">
            <label>種類</label>
            <select name="KeyType">
                <option value="">---</option>
                @foreach (var type in Enum.GetValues(typeof(SecretKeyType)).OfType<SecretKeyType>().Concat(new[] { (SecretKeyType.Publisher | SecretKeyType.Subscriber) }))
                {
                    if (Model.KeyType.HasValue && Model.KeyType.Value == type)
                    {
                        <option value="@type" selected>@type</option>
                    }
                    else
                    {
                        <option value="@type">@type</option>
                    }
                }
            </select>
        </div>
        <div class="pr-2">
            <label>シークレットキー</label>
            <input type="text" name="Key" value="@Model.Key" />
        </div>
        <div class="pr-2">
            <label>説明</label>
            <input type="text" name="Description" value="@Model.Description" />
        </div>
        <div>
            <button class="d-block">シークレットキー生成</button>
        </div>
    </div>
    @if (Model.SecretKeys.Count > 0)
    {
        <div style="overflow: auto; min-width: 60em">
            <table style="table-layout: fixed">
                <colgroup>
                    <col style="width: 12em" />
                    <col />
                    <col />
                    <col style="width: 4em" />
                    <col style="width: 4em" />
                    <col style="width: 16em" />
                </colgroup>
                <thead>
                    <tr>
                        <th>種類</th>
                        <th>シークレットキー</th>
                        <th>説明</th>
                        <th>接続</th>
                        <th>状態</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.SecretKeys.Count; i++)
                    {
                        var key = Model.SecretKeys[i];
                        <tr>
                            <td>
                                <input type="hidden" name="SecretKeys[@i].Id" value="@key.Id" />
                                @if (key.IsApproved)
                                {
                                    @key.KeyType
                                    <input type="hidden" name="SecretKeys[@i].KeyType" value="@key.KeyType" />
                                }
                                else
                                {
                                    <select name="SecretKeys[@i].KeyType">
                                        <option value="">---</option>
                                        @foreach (var type in Enum.GetValues(typeof(SecretKeyType)).OfType<SecretKeyType>().Concat(new[] { (SecretKeyType.Publisher | SecretKeyType.Subscriber) }))
                                        {
                                            if (key.KeyType.HasValue && key.KeyType.Value == type)
                                            {
                                                <option value="@type" selected>@type</option>
                                            }
                                            else
                                            {
                                                <option value="@type">@type</option>
                                            }
                                        }
                                    </select>
                                }
                            </td>
                            <td>
                                <span class="secret-key">@key.Key</span>
                                <input type="hidden" name="SecretKeys[@i].Key" value="@key.Key" />
                            </td>
                            <td class="secret-key"><input type="text" name="SecretKeys[@i].Description" value="@key.Description" /></td>
                            <td>@(key.IsConnected ? "○" : "-")</td>
                            <td>@(key.IsApproved ? "有効" : "無効")</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <div class="flex-grow-1 pr-1">
                                        <button class="d-block w-full" formaction="/admin/keys/@key.Id/update">変更</button>
                                    </div>
                                    @if (key.IsApproved)
                                    {
                                        <div class="flex-grow-1 pr-1">
                                            <button class="d-block w-full" formaction="/admin/keys/@key.Id/revoke">無効化</button>
                                        </div>
                                        <div class="flex-grow-1 pl-1">
                                            <button class="d-block w-full" formaction="/admin/keys/@key.Id/delete" disabled>削除</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="flex-grow-1 pr-1">
                                            @if (key.KeyType.HasValue)
                                            {
                                                <button class="d-block w-full" formaction="/admin/keys/@key.Id/approve">有効化</button>
                                            }
                                            else
                                            {
                                                <button class="d-block w-full" formaction="/admin/keys/@key.Id/approve" disabled>有効化</button>
                                            }
                                        </div>
                                        <div class="flex-grow-1 pl-1">
                                            <button class="d-block w-full" formaction="/admin/keys/@key.Id/delete">削除</button>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>使用可能なシークレットキーはありません。</p>
    }
</form>
