@using Trsys.Web.Models
@using System.Linq
@model Trsys.Web.ViewModels.Admin.IndexViewModel

@{
    ViewBag.Title = "シークレットキー一覧";
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger mb-4">
        @Model.ErrorMessage
    </div>
}
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success mb-4">
        @Model.SuccessMessage
    </div>
}

<h1 class="mb-3">シークレットキー一覧</h1>

<form method="post" action="/admin/keys/new">
    <div class="mb-4 d-flex">
        <div class="pr-2">
            <select name="KeyType">
                <option value="">---</option>
                @foreach (var type in Enum.GetValues(typeof(SecretKeyType))
                  .OfType<SecretKeyType>()
                  .Concat(new[] { (SecretKeyType.Publisher | SecretKeyType.Subscriber) }))
                {
                    if (Model.KeyType.HasValue && Model.KeyType.Value == type)
                    {
                        <option value="@type" selected>@type</option>
                    }
                    else
                    {
                        <option value="@type">@type</option>
                    }
                }
            </select>
        </div>
        <div>
            <button class="d-block">シークレットキー生成</button>
        </div>
    </div>
</form>
@if (Model.SecretKeys.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>種類</th>
                <th>シークレットキー</th>
                <th>状態</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var key in Model.SecretKeys)
            {
                <tr>
                    <td>@key.KeyType</td>
                    <td class="secret-key">@key.Key</td>
                    <td>@(key.IsValid ? "有効" : "無効")</td>
                    <td>
                        @if (key.IsValid)
                        {
                            <div class="d-flex justify-content-between">
                                <div class="flex-grow-1 pr-1">
                                    <form method="post" action="/admin/keys/@(key.Key)/revoke">
                                        <button class="d-block w-full">無効化</button>
                                    </form>
                                </div>
                                <div class="flex-grow-1 pl-1">
                                    <form method="post" action="/admin/keys/@(key.Key)/delete">
                                        <button class="d-block w-full" disabled>削除</button>
                                    </form>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex justify-content-between">
                                <div class="flex-grow-1 pr-1">
                                    <form method="post" action="/admin/keys/@(key.Key)/approve">
                                        <button class="d-block w-full">有効化</button>
                                    </form>
                                </div>
                                <div class="flex-grow-1 pl-1">
                                    <form method="post" action="/admin/keys/@(key.Key)/delete">
                                        <button class="d-block w-full">削除</button>
                                    </form>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>使用可能なシークレットキーはありません。</p>
}
