@model Trsys.Web.ViewModels.Admin.IndexViewModel

@{
    ViewBag.Title = "管理画面";
}

<h1>管理画面</h1>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div>
        @Model.ErrorMessage
    </div>
}
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div>
        @Model.SuccessMessage
    </div>
}
<div>
    <form method="post" action="/admin/keys/new">
        <select name="KeyType">
            @foreach (var type in Enum.GetValues(typeof(Trsys.Web.Models.SecretKeyType)))
            {
                <option value="@type">@type</option>
            }
        </select>
        <button>新規生成</button>
    </form>
</div>
@if (Model.SecretKeys.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>キー</th>
                <th>キー種類</th>
                <th>状態</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var key in Model.SecretKeys)
            {
                <tr>
                    <td>@key.Key</td>
                    <td>@key.KeyType</td>
                    <td>@(key.IsValid ? "有効" : "無効")</td>
                    <td>
                        @if (key.IsValid)
                        {
                            <form method="post" action="/admin/keys/@(key.Key)/revoke">
                                <button>無効化</button>
                            </form>
                            <form method="post" action="/admin/keys/@(key.Key)/delete">
                                <button disabled>削除</button>
                            </form>
                        }
                        else
                        {
                            <form method="post" action="/admin/keys/@(key.Key)/approve">
                                <button>有効化</button>
                            </form>
                            <form method="post" action="/admin/keys/@(key.Key)/delete">
                                <button>削除</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>使用可能なシークレットキーはありません。</p>
}
