@model Trsys.Web.ViewModels.Home.UserInfoViewModel

@{
    ViewBag.Title = "ユーザー情報";
}

<h1 class="h2 mb-3 font-weight-bold">@ViewBag.Title</h1>

<div style="max-width: 40rem">
    <div class="mb-2">
        <label class="form-label">名前</label>
        <input class="form-control" type="text" value="@Model.Name" readonly />
    </div>
    <div class="mb-2">
        <label class="form-label">メールアドレス</label>
        <input class="form-control" type="text" value="@Model.EmailAddress" readonly />
    </div>
    <div>
        <a class="btn btn-outline-secondary" href="@Url.Action("ChangeUserInfo")">変更</a>
        <a class="btn btn-outline-secondary" href="@Url.Action("ChangePassword")">パスワード変更</a>
    </div>
</div>
