@using System.Linq
@model Trsys.Web.ViewModels.Events.IndexViewModel

@{
    ViewBag.Title = "イベント一覧";
}

<div class="float-right">
    <a href="@Url.Action("Index", "Logs")">ログ</a>
    <span>イベント</span>
</div>
<div>
    <h1 class="mb-3">イベント</h1>

    <div class="mb-3">
        <form>
            <input class="form-control" type="text" name="source" value="@Model.Source" />
        </form>
        @if (!string.IsNullOrEmpty(Model.Source))
        {
            <a href="@Url.Action("Index")">クリア</a>
        }
    </div>
    <div class="mb-3">
        @if (Model.Page > 1)
        {
            <a href="@Url.Action("Index", new { source = Model.Source })">最初のページ</a>
            <a href="@Url.Action("Index", new { source = Model.Source, page = Model.Page - 1 == 1 ? default(int?) : Model.Page - 1, perPage = Model.PerPage == 100 ? default(int?) : Model.PerPage })">前のページ</a>
        }
        else
        {
            <span>最初のページ</span>
            <span>前のページ</span>
        }
        <a href="@Url.Action("Index", new { source = Model.Source, page = Model.Page + 1, perPage = Model.PerPage == 100 ? default(int?) : Model.PerPage })">次のページ</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered mb-3" style="table-layout: fixed;min-width: 87em">
            <colgroup>
                <col style="width: 15em" />
                <col style="width: 24em" />
                <col style="width: 24em" />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>時刻</th>
                    <th>イベント元</th>
                    <th>イベントタイプ</th>
                    <th>イベントデータ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Events)
                {
                    <tr>
                        <td>@string.Format("{0:yyyy-MM-ddTHH:mm:ss.fff}", e.Timestamp.ToOffset(TimeSpan.FromHours(9)))</td>
                        <td><a href="@Url.Action("Index", new { source = e.AggregateId })">@e.AggregateId</a></td>
                        <td>@e.EventType</td>
                        <td>@e.Data</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @if (Model.Page > 1)
        {
            <a href="@Url.Action("Index", new { source = Model.Source, perPage = Model.PerPage == 100 ? default(int?) : Model.PerPage })">最初のページ</a>
            <a href="@Url.Action("Index", new { source = Model.Source, perPage = Model.PerPage == 100 ? default(int?) : Model.PerPage, page = Model.Page - 1 == 1 ? default(int?) : Model.Page - 1 })">前のページ</a>
        }
        else
        {
            <span>最初のページ</span>
            <span>前のページ</span>
        }
        <a href="@Url.Action("Index", new { source = Model.Source, perPage = Model.PerPage == 100 ? default(int?) : Model.PerPage, page = Model.Page + 1 })">次のページ</a>
    </div>
</div>
